@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
  --main-color-tuentione: #C4FEF4;
  --navbar-color: rgba(0, 0, 0, .55);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navBg {
  background-color: var(--main-color-tuentione);
}

.me-auto {
  margin: 0 !important
}

.loginRegister {
  margin-left: auto;
  display: flex;
}

.login input {
  background-color: rgb(219, 219, 219);
  /* border: 1.5px solid #C4FEF4; */
  /* box-shadow: 5px 5px 10px var(--main-color-tuentione); */
  transition: background-color .5s;
}

.login input::placeholder {
  color: white;
}

.login input:focus {
  background-color: #C4FEF4;
  box-shadow: 5px 5px 10px var(--main-color-tuentione)
}

.button {
  background-color: rgb(219, 219, 219);
  color: black
}

.h5EditProfile {
  display: flex;
  justify-content: center;
}

.button:focus {
  background-color: #C4FEF4;
  color: white;
}

/*profile Page*/

.profileButton {
  display: flex;
  align-content: flex-end;
  background-color: #C4FEF4;
  border: 2px solid black;
  border-radius: 250px;
}

.containerEditProfile {
  display: flex;
}

.containerInfo {
  display: block;
  align-items: center;
  justify-content: center;
}

.biography {
  margin: 50px 10px;
  border: 2px solid black;
  border-radius: 150px;
  background-color: #C4FEF4;
  padding: 10px;
  width: auto;
  max-width: 20%;
  word-wrap: break-word;

}

.imgContainer {
  width: 30%;
  height: 30%;
  margin-right: 2%;
}

.loginRegister a>p,
.loginRegister span {
  color: var(--navbar-color);
  cursor: pointer;
}

.dropdown-menu {
  width: 50%;
}

/* HOMEPAGE */

.postUserContainer {
  display: flex;
  justify-content: space-between;
}

.postUserInfo {
  display: flex;
}

.postUserInfo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.btnDelEdit {
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  transition: .2s ease-out;
}

.btnDelEdit:hover {
  border: 1px solid gray;
  color: gray;
}

.postLikeBtn {
  background-color: transparent;
  border: 1.5px solid #25b6b8;
  border-radius: 4px;
  padding: 5.5px 10px;
  color: #25b6b8;
  font-weight: 600;
  transition: .1s ease-out;
}

/* .postLikeBtn:hover {
  border-color: #25b6b8;
  color: #25b6b8;
} */

.postDislikeBtn {
  background-color: #25b6b8;
  border: 1.5px solid transparent;
  border-radius: 4px;
  padding: 5.5px 10px;
  color: white;
  font-weight: 600;
  transition: .1s ease-in;
}

.postBtns {
  display: flex;
}

.commentBtn>button {
  margin-left: 10px;
  color: #f72585;
  font-weight: 600;
  border-color: transparent;
  transition: .2s ease-out;
}

.dropdown-toggle::after {
  content: 'Comentar';
  border: none;
  vertical-align: 0;
}

.commentBtn>button:hover {
  background-color: transparent;
  color: #d11f74;
  border: 1px solid transparent;
}

.commentBtn>button:focus {
  outline: none !important;
}

/* PROFILE PAGE */

.profileHeader img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* DISCOVER PAGE */

.discoverContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;


}

.discoverElm {
  display: flex;
  width: 20rem;
  border: 1.5px solid black;
  margin: 1rem 2rem;
  box-shadow: 5px 5px 10px var(--main-color-tuentione);
}

.discoverElm img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}