@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
  --main-color-tuentione: #C4FEF4;
  --navbar-color: rgba(0, 0, 0, .55);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navBg {
  background-color: var(--main-color-tuentione);
}

.me-auto {
  margin: 0 !important
}

.loginRegister {
  margin-left: auto;
  display: flex;
}

.login input {
  background-color: rgb(219, 219, 219);
  /* border: 1.5px solid #C4FEF4; */
  /* box-shadow: 5px 5px 10px var(--main-color-tuentione); */
  transition: background-color .5s;
}

.login input::placeholder {
  color: white;
}

.login input:focus {
  background-color: #C4FEF4;
  box-shadow: 5px 5px 10px var(--main-color-tuentione)
}

.button {
  background-color: rgb(219, 219, 219);
  color: black
}

.button:focus {
  background-color: #C4FEF4;
  color: white;
}

.loginRegister a>p,
.loginRegister span {
  color: var(--navbar-color);
  cursor: pointer;
}

.dropdown-menu {
  width: 50%;
}

/* DISCOVER PAGE */

.discoverContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;


}

.discoverElm {
  display: flex;
  width: 20rem;
  border: 1.5px solid black;
  margin: 1rem 2rem;
  box-shadow: 5px 5px 10px var(--main-color-tuentione);

}

.discoverElm img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}